.btn--primary{
  padding: 8px 24px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: var(--main);
  border: 2px solid var(--main);
  border-radius: 4px;
}

.btn--custom{
  padding: 8px 24px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #6366F1;
  border: 2px solid #6366F1;
  border-radius: 4px;
}

.btn--secondary{
  padding: 8px 24px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--main);
  border: 2px solid var(--main);
  border-radius: 4px;
}

.btn--primary:hover{
  background-color: var(--main__hover);
}

.btn--secondary:hover{
  background-color: var(--main);
  color: white;
}

.btn--custom:hover{
  background-color: #2326d3;
}
